body {
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a; /* Darker background color */
  color: #ffffff; /* Light text color */
}

.container {
  text-align: center;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
}

/* Navbar styles */
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #dddddd;
}

.btn {
  background-color: #007bff; /* Blue color for buttons */
  border-color: #007bff; /* Blue border color */
  color: #ffffff; /* Light text color */
}

.btn:hover {
  background-color: #0056b3; /* Darker blue color on hover */
  border-color: #0056b3; /* Darker blue border color on hover */
  color: #ffffff; /* Light text color */
}

/* Responsive styles */
@media (max-width: 767px) {
  .navbar-nav {
    text-align: center;
    margin: 0 auto;
  }

  .navbar-toggler {
    margin: 0 auto;
  }

  .button-container {
    grid-template-columns: 1fr;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


#container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
