

#bingbong {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }

#jongjong
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

  }

  li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

 #cheese {
    text-align: center;
    text-decoration: underline;
    grid-column-start: 5;
    grid-column-end: 6;

  }

  #milvat{
    text-align: center;
    overflow: hidden;
    height: auto;
    width: 60%;
    align-items: center;
    justify-content: center;
    grid-column-start: 4;
    grid-column-end: 9;
  }

  #poopy{
   text-align: center;
   grid-column-start: 2;
   grid-column-end: 9;
  }

  #conk{
    background-color: grey;
    display: grid;
    columns: 10;

  }


  #cockin{
    text-align: center;
    overflow: hidden;
    height: auto;
    width: 60%;
    align-items: center;
    justify-content: center;
    grid-column-start: 4;
    grid-column-end: 9;
  }

  #milko{
 
    text-decoration: underline;
justify-content: center;
   grid-column-start: 2;
   grid-column-end: 3;

  }

  #donk{
    background-color: lightgrey;
    display: grid;
    columns: 5;
  
  }
#pissy{

grid-column-start: 2;
grid-column-end: 3;


}
  #milta{

   grid-column-start: 2;
   grid-column-end: 3;
  }
#bruy{
  display: grid;
  columns: 3;
}
#charbutt{  grid-column-start: 1;
  grid-column-end: 3;

}
  #tableplace{
    text-align: center;
    background-color: #e3e3e3;
    grid-column-start: 1;
    grid-column-end: 3;
    
  }

  * {
    box-sizing: border-box;
  }
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  
  
  
    @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

  }

#viddiv{
  background-color: lightgrey;
  display: grid;
  columns: 5;

}

  #bruhm{
    text-decoration: underline;
justify-content: center;
   grid-column-start: 3;
   grid-column-end: 5;

  }

  #bruy{
    display: grid;
    columns:5;
  }
  #dicebut{
    grid-column-start: 3;
    grid-column-end: 5;
    justify-content: center;
  }
  #labdiv{
    display: grid;
    columns:5;
  }
#dicelabel{
  grid-column-start: 3;
  grid-column-end: 5;
  justify-content: center;
}

#butt2{
  display: grid;
    columns:5;
}
#charbutt{
  grid-column-start: 3;
  grid-column-end: 5;
  justify-content: center;
}

#conk2{
  display: grid;
  columns:5;
}
#bing2{
  grid-column-start: 3;
  grid-column-end: 5;
  justify-content: center;
}
#bong2{
  grid-column-start: 3;
  grid-column-end: 5;
  justify-content: center;
 
}
